
{{ form_start(form, {'attr': {'class': 'game-form'}}) }}
{{ form_errors(form) }}

    <div class="form-group">
        {{ form_label(form.title) }}
        {{ form_widget(form.title) }}
        {{ form_errors(form.title) }}
    </div>

    <div class="form-group">
        {{ form_label(form.description) }}
        {{ form_widget(form.description) }}
        {{ form_errors(form.description) }}
    </div>

    <div class="form-group">
        {{ form_label(form.number_volume) }}
        {{ form_widget(form.number_volume) }}
        {{ form_errors(form.number_volume) }}
    </div>

    <div class="form-group">
        {{ form_label(form.dateStarted) }}
        {{ form_widget(form.dateStarted) }}
        {{ form_errors(form.dateStarted) }}
    </div>

    <div class="form-group">
        {{ form_label(form.isFinished) }}
        {{ form_widget(form.isFinished) }}
        {{ form_errors(form.isFinished) }}
    </div>

    <div class="form-group">
        {{ form_label(form.author) }}
        {{ form_widget(form.author) }}
        {{ form_errors(form.author) }}
    </div>

    <div class="form-group">
        {{ form_label(form.editors) }}
        {{ form_widget(form.editors) }}
        {{ form_errors(form.editors) }}
    </div>

    <div class="form-group">
        {{ form_label(form.types) }}
        {{ form_widget(form.types) }}
        {{ form_errors(form.types) }}
    </div>

    <button type="submit" class="btn-submit">
        <i class="fas fa-save"></i>
        {{ button_label|default('Enregistrer') }}
    </button>

{{ form_end(form) }}
