{% extends 'base.html.twig' %}

{% block title %}Auteur{% endblock %}

{% block body %}
    <h1>{{author.firstname}} {{author.name}}</h1>

    <div class="card" style="width: 50rem;">
        <div class="card-body">
            <p class="card-text">{{author.biography}}</p>
        </div>

    <div class="action-buttons">
		<div>
			{# suppression #}
			{% include "author/_delete_form.html.twig" with {'button_class': 'btn btn-delete'} %}
		</div>
		<div>
			<a href="{{ path('app_author_edit', {'id': author.id}) }}" class="btn btn-edit">Editer</a>
		</div>
		<div>
			<a href="{{path('app_author_index')}}" class="btn btn-back">
				<i class="fas fa-arrow-left"></i>Retour à la liste</a>

		</div>
    </div>

{% endblock %}
