{% extends 'base.html.twig' %}

{% block title %}Auteur{% endblock %}

{% block body %}

	<div class="game-detail-card">
		<div class="game-detail-content">
			<h1 class="game-title">{{author.firstname}} {{author.name}}</h1>
			<div class="game-synopsis mb-4">
				<h2>Biographie</h2>
				<p>{{author.biography}}</p>
			</div>
		</div>
	</div>

    <div class="action-buttons">
		<div>
			{# suppression #}
			{% include "author/_delete_form.html.twig" with {'button_class': 'btn btn-delete'} %}
		</div>
		<div>
			<a href="{{ path('app_author_edit', {'id': author.id}) }}" class="btn btn-edit">Editer</a>
		</div>
		<div>
			<a href="{{path('app_author_index')}}" class="btn btn-back">
				<i class="fas fa-arrow-left"></i>Retour à la liste</a>

		</div>
    </div>

{% endblock %}
