	{% set date = book.releaseDate|date('d/m/Y') %}

	<div class="game-detail-card">
		<div class="game-detail-image">
			<img src="{{asset('images/covers/' ~ book.imagePath)}}" alt="{{book.title}}">
		</div>
		<div class="game-detail-content">
			<h1 class="game-title">{{book.title|slice(0,60)}}</h1>
            
            <div class="game-consoles mb-3">
                {% for type in types %}
                    <span class="console-badge">{{type.type}}</span>
                {% endfor %}
            </div>

            <div class="game-info-detail mb-4">
                <div class="info-item">
                    <span class="info-label">Auteur(s) :
                    </span>
                    <div class="game-consoles mb-3">
                        {% for author in authors %}
                            <span class="info-value">{{author.firstname}} {{author.name}}</span> 
                        {% endfor %}
                    </div>                   
                </div>
                <div class="info-item">
                    <span class="info-label">Editeur(s) :
                    </span>
                        {% for editor in editors %} 
                            <span class="info-value">{{editor.editor}}</span>
                        {% endfor %}                    
                </div>
				<div class="info-item">
					<span class="info-label">Date de sortie :
					</span>
					<span class="info-value">{{date}}</span>
				</div>
            </div>
            <div class="game-info-detail mb-4">
                <div class="info-item">
                    <span class="info-label">Nombre de pages :
                    </span>
                    <span class="info-value">{{book.numberPage}}</span>
                </div>
                <div class="info-item">
                    <span class="info-label">Prix :
                    </span>
                    <span class="info-value">{{(book.price/100)|number_format}}</span>
                </div>
                <div class="info-item">
                    <span class="info-label">ISBN :
                    </span>
                    <span class="info-value">{{book.isbn}}</span>
                </div>
			</div>
			<div class="game-synopsis mb-4">
				<h2>Synopsis</h2>
				<p>{{book.description}}</p>
			</div>
		</div>
	</div>