<h2>{{title}}</h2>

<table class="game-table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Description</th>
                <th>Nb de tomes</th>
                <th>Date de début</th>
                <th>Terminée</th>
                <th>Auteur(s)</th>
                <th>Editeur(s)</th>
                <th>Genre(s)</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for serie in series %}
            <tr>
                <td>{{ serie.id }}</td>
                <td>{{ serie.title }}</td>
                <td>{{ serie.description }}</td>
                <td>{{ serie.number_volume }}</td>
                <td>{{ serie.dateStarted ? serie.dateStarted|date('d/m/Y') : '' }}</td>
                <td>{{ serie.isFinished ? 'Yes' : 'No' }}</td>
                <td>
                    {% for author in serie.authors %}
                        {{author.firstname}} {{author.name}}<br>                       
                    {% endfor %}
                </td>
                <td>
                    {% for editor in serie.editors %}
                        {{editor.name}}<br>                        
                    {% endfor %}
                </td>
                <td>
                    {% for type in serie.types %}
                        {{type.label}}<br>                        
                    {% endfor %}
                </td>
                <td>
                <div class="game-actions">
                    <a href="{{path('app_serie_show', {'id': serie.id})}}" class="view-link">Voir</a>
                    <a href="{{path('app_serie_edit', {'id': serie.id})}}" class="edit-link">Editer</a>
                </div>                    
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>