{% extends 'base.html.twig' %}

{% block title %}Editeur{% endblock %}

{% block body %}
    <div class="game-detail-card">
		<div class="game-detail-content">
			<h1 class="game-title">{{editor.name|slice(0,30)}}</h1>

            <div class="game-info-detail mb-4">
                <div class="info-item">
                    <span class="info-label">Nom : </span>
                    </span>
                    <span class="info-value">{{editor.name}}</span>
                </div>
                <div class="info-item">
                    <span class="info-label">Adresse : </span>
                    <span class="info-value">{{editor.address}}</span>
                </div>
			</div>
		</div>
	</div>

    <div class="action-buttons">
		<div>
			{# suppression #}
			{% include "editor/_delete_form.html.twig" with {'button_class': 'btn btn-delete'} %}
		</div>
		<div>
			<a href="{{ path('app_editor_edit', {'id': editor.id}) }}" class="btn btn-edit">Editer</a>
		</div>
		<div>
			<a href="{{path('app_editor_index')}}" class="btn btn-back">
				<i class="fas fa-arrow-left"></i>Retour à la liste</a>

		</div>
    </div>
{% endblock %}
